@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,regular,,600,700,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Taviraj:300,regular,500,600,700&display=swap");

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-add-cart:before {
  content: "\e900";
}

._icon-arrow-select:before {
  content: "\e901";
}

._icon-arrow-slider-long:before {
  content: "\e902";
}

._icon-arroy-slider:before {
  content: "\e903";
}

._icon-cart:before {
  content: "\e904";
}

._icon-Combined-Shape:before {
  content: "\e905";
}

._icon-Combined-Shape-1:before {
  content: "\e906";
}

._icon-delete:before {
  content: "\e907";
}

._icon-favorite:before {
  content: "\e908";
}

._icon-minus:before {
  content: "\e909";
}

._icon-plus:before {
  content: "\e90a";
}

._icon-search:before {
  content: "\e90b";
}

._icon-s-facebook:before {
  content: "\e90c";
}

._icon-s-instagram:before {
  content: "\e90d";
}

._icon-s-twitter:before {
  content: "\e90e";
}

._icon-s-youtube:before {
  content: "\e90f";
}

._icon-user:before {
  content: "\e910";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Source Sans Pro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section-title {
  font-family: "Taviraj";
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #FF9100;
  text-align: center;
  margin-bottom: 0.9375rem;
  margin-top: 0.9375rem;
}

.title {
  font-family: "Taviraj";
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #000;
}

.title::after {
  content: "";
  margin-top: 0.2222222222em;
  width: 3.5555555556em;
  height: 0.0625rem;
  display: block;
  background-color: #000;
}

.title_small::after {
  content: "";
  width: 1.8055555556em;
}

.title_semibold {
  font-weight: 600;
}

.title_white {
  font-size: 1.5rem;
  color: #fff;
}

.title_white::after {
  content: "";
  margin-top: 0.4166666667em;
  background-color: #fff;
}

.label-footer {
  font-family: "Taviraj";
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: 0.3125rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5625rem;
  font-size: 2rem;
}

.social__item {
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.text {
  line-height: 1.375;
  letter-spacing: 0.03em;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 50;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17.5rem 1fr;
  grid-template-columns: 17.5rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  position: absolute;
  top: -37px;
  left: 0;
  height: 4.5625rem;
  max-width: 11.125rem;
}

.menu__body {
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  font-family: "Taviraj";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #000;
}

.actions-header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-menu {
  display: none;
}

.footer {
  background: rgb(250, 196, 13);
  background: -o-linear-gradient(300deg, rgb(250, 196, 13) 0%, rgb(243, 238, 28) 25%, rgb(164, 237, 100) 50%, rgb(88, 232, 171) 75%, rgb(56, 190, 201) 100%);
  background: linear-gradient(150deg, rgb(250, 196, 13) 0%, rgb(243, 238, 28) 25%, rgb(164, 237, 100) 50%, rgb(88, 232, 171) 75%, rgb(56, 190, 201) 100%);
  font-family: "Taviraj";
  color: #fff;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  position: relative;
  gap: 3.125rem;
}

.footer__container::before,
.footer__container::after {
  content: "";
  position: absolute;
  width: 25.8125rem;
  height: 17.5rem;
  background: url("../img/footer/decor.svg") 0 0/100% no-repeat;
}

.footer__container::before {
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translate(calc((44% - 15px) * -1), 0px);
      -ms-transform: translate(calc((44% - 15px) * -1), 0px);
          transform: translate(calc((44% - 15px) * -1), 0px);
}

.footer__container::after {
  content: "";
  right: 0;
  top: 0;
  -webkit-transform: translate(calc(44% - 15px), -13%);
      -ms-transform: translate(calc(44% - 15px), -13%);
          transform: translate(calc(44% - 15px), -13%);
}

.footer__column {
  position: relative;
  z-index: 2;
}

.footer__column:nth-child(1) {
  max-width: 11.125rem;
}

.footer__logo {
  display: block;
  max-width: 11.125rem;
}

.footer__logo img {
  max-width: 100%;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.footer__blocks {
  gap: 1.25rem;
}

.footer__text {
  line-height: 1.6875;
  letter-spacing: 0.03em;
}

.footer__title {
  cursor: default;
}

.footer__contacts {
  padding-top: 1rem;
}

.footer__socials {
  padding-top: 1rem;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.footer__menu {
  padding-top: 1rem;
}

.contacts-footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
    -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.5rem;
}

.contacts-footer__label {
  vertical-align: middle;
}

.contacts-footer__value {
  line-height: 2.25;
  letter-spacing: 0.03em;
}

.contacts-footer__value:hover {
  text-decoration: underline;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.menu-footer__link {
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.orange-span {
  color: orange;
  font-weight: 600;
}

.page__hero {
  padding-top: 75px;
}

.hero__background {
  height: 650px;
  position: relative;
}

.no-webp .hero__background::before{
  background: url("../img/hero-2y.jpeg"); }

.hero__background::before {
  content: "";
  background-size: cover !important;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 110%;
  top: -50px;
  left: 0;
}

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.hero__texts {
  position: relative;
  z-index: 1;
  padding: 1.25rem 1.875rem 0.9375rem 2.8125rem;
  overflow: visible;
  color: #fff;
}

.hero__texts::before {
  position: absolute;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22678.404%22 height=%22805.313%22 viewBox=%22232.333 88.231 678.404 805.313%22%3E%3Cdefs%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate%28-45 .5 .5%29%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23FBC70F%22%2F%3E%3Cstop offset=%2225%25%22 stop-color=%22%23D8EE36%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23AFEE5C%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%236BED9A%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%233BC2C7%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22b%22%3E%3Cpath fill=%22currentColor%22 d=%22M866.5 596q-102.5 96-159 231.5t-161-7Q442 678 355.5 673T247 584q-22-84-11-176t66.5-218Q358 64 490 94t170.5 145.5Q699 355 834 427.5T866.5 596Z%22%2F%3E%3C%2FclipPath%3E%3Cfilter id=%22a%22 x=%22-50vw%22 y=%22-50vh%22 width=%22100vw%22 height=%22100vh%22%3E%3CfeFlood flood-color=%22%23fff%22 result=%22neutral-gray%22%2F%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22%2F%3E%3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22%2F%3E%3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E%3CfeFuncA type=%22table%22 tableValues=%220 0 0.4 0%22%2F%3E%3C%2FfeComponentTransfer%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg filter=%22url%28%23a%29%22 clip-path=%22url%28%23b%29%22%3E%3Cpath fill=%22url%28%23c%29%22 d=%22M866.5 596q-102.5 96-159 231.5t-161-7Q442 678 355.5 673T247 584q-22-84-11-176t66.5-218Q358 64 490 94t170.5 145.5Q699 355 834 427.5T866.5 596Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  opacity: 0.95;
  width: 100%;
  height: 220%;
  top: -47%;
  left: 12%;
  z-index: 2;
  border-radius: 20px;
  -webkit-transform: rotate(320deg);
      -ms-transform: rotate(320deg);
          transform: rotate(320deg);
}

.hero__subtitle {
  position: relative;
  z-index: 3;
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 0.625rem;
  line-height: 1.4;
}

.hero__title {
  position: relative;
  z-index: 3;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  line-height: 1.4;
}

.hero__text {
  position: relative;
  z-index: 3;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.4;
  padding-bottom: 5px;
  letter-spacing: 0.02em;
}

.hero__tel {
  position: relative;
  z-index: 3;
  font-weight: 800;
  line-height: 1.4;
}

.tel {
  position: relative;
  z-index: 3;
  color: rgb(21, 0, 255);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tel:hover {
  color: #FF9100;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.provide {
  position: relative;
}

.provide::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 20px;
  width: 230px;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22752.135%22 height=%22621.889%22 viewBox=%22152.414 280.877 752.135 621.889%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate%28-15 .5 .5%29%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2338bec9%22%2F%3E%3Cstop offset=%2225%25%22 stop-color=%22%2358e8ab%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23a4ed64%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%23f3ee1c%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fac40d%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M832 570.5q-138 70.5-158 237t-133.5 42Q427 725 288 740T152.5 627.5q3.5-127.5 41-225t137-108.5Q430 283 501 281t145.5 28.5Q721 340 845.5 420T832 570.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url%28%23a%29%22%3E%3Cpath fill=%22url%28%23b%29%22 d=%22M832 570.5q-138 70.5-158 237t-133.5 42Q427 725 288 740T152.5 627.5q3.5-127.5 41-225t137-108.5Q430 283 501 281t145.5 28.5Q721 340 845.5 420T832 570.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.provide__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.provide__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  margin-right: 1.25rem;
}

.provide__image img {
  width: 100%;
  border-radius: 10px;
}

.provide__text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.provide__point {
  line-height: 1.5;
  position: relative;
}

.provide__point:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.provide__point::before {
  display: block;
  position: absolute;
  line-height: 1.5;
  left: 0;
}

.blob {
  width: 566.9332275391px;
  height: 695.969909668px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22566.933%22 height=%22695.97%22 viewBox=%22190.271 155.859 566.933 695.97%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate%2845 .5 .5%29%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2338bec9%22%2F%3E%3Cstop offset=%2225%25%22 stop-color=%22%2358e8ab%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23a4ed64%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%23f3ee1c%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fac40d%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M730.5 565.5Q680 631 632.5 697T479 827.5q-106 64.5-165.5-42t-106-196Q161 500 240 434.5t109.5-185Q380 130 489.5 163T645 278.5q46 82.5 91 152t-5.5 135Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url%28%23a%29%22%3E%3Cpath fill=%22url%28%23b%29%22 d=%22M730.5 565.5Q680 631 632.5 697T479 827.5q-106 64.5-165.5-42t-106-196Q161 500 240 434.5t109.5-185Q380 130 489.5 163T645 278.5q46 82.5 91 152t-5.5 135Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.services {
  position: relative;
}

.services::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -250px;
  bottom: 20px;
  width: 488px;
  height: 595px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotate(290deg);
      -ms-transform: rotate(290deg);
          transform: rotate(290deg);
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22566.933%22 height=%22695.97%22 viewBox=%22190.271 155.859 566.933 695.97%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate%28180 .5 .5%29%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2338bec9%22%2F%3E%3Cstop offset=%2225%25%22 stop-color=%22%2358e8ab%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23a4ed64%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%23f3ee1c%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fac40d%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M730.5 565.5Q680 631 632.5 697T479 827.5q-106 64.5-165.5-42t-106-196Q161 500 240 434.5t109.5-185Q380 130 489.5 163T645 278.5q46 82.5 91 152t-5.5 135Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url%28%23a%29%22%3E%3Cpath fill=%22url%28%23b%29%22 d=%22M730.5 565.5Q680 631 632.5 697T479 827.5q-106 64.5-165.5-42t-106-196Q161 500 240 434.5t109.5-185Q380 130 489.5 163T645 278.5q46 82.5 91 152t-5.5 135Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.services__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: 1.25rem;
}

.services__image img {
  width: 100%;
  border-radius: 10px;
}

.services__text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.services__point {
  line-height: 1.5;
  position: relative;
}

.services__point:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.services__point::before {
  display: block;
  position: absolute;
  line-height: 1.5;
  left: 0;
}

.four-services {
  padding-left: 15px;
  padding-right: 15px;
}

.four-services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1.875rem;
}

.four-services__card {
  width: 22%;
}

.four-services__image {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.9375rem;
  max-height: 18.5625rem;
}

.four-services__image img {
  width: 100%;
  display: block;
  border-radius: 10px;
  max-height: 18.5625rem;
}

.four-services__title {
  font-family: "Taviraj";
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: 0.9375rem;
  text-align: center;
}

.four-services__text {
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 0.3125rem;
  text-align: justify;
}

.about {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.about::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 80px;
  top: 40px;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22694.676%22 height=%22689.145%22 viewBox=%22157.559 167.442 694.676 689.145%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate%28-15 .5 .5%29%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2338bec9%22%2F%3E%3Cstop offset=%2225%25%22 stop-color=%22%2358e8ab%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23a4ed64%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%23f3ee1c%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fac40d%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M835.5 644q61.5 144-103 104t-262 50.5q-97.5 90.5-232 40T193 644q89-144 20-273.5T288 266q144 25 238-55.5T718 200q98 70 77 185t40.5 259Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url%28%23a%29%22%3E%3Cpath fill=%22url%28%23b%29%22 d=%22M835.5 644q61.5 144-103 104t-262 50.5q-97.5 90.5-232 40T193 644q89-144 20-273.5T288 266q144 25 238-55.5T718 200q98 70 77 185t40.5 259Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.about::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 80px;
  bottom: 80px;
  width: 330px;
  height: 512px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22532.181%22 height=%22825.676%22 viewBox=%22268.257 47.03 532.181 825.676%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate%28-60 .5 .5%29%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2338bec9%22%2F%3E%3Cstop offset=%2225%25%22 stop-color=%22%2358e8ab%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23a4ed64%22%2F%3E%3Cstop offset=%2275%25%22 stop-color=%22%23f3ee1c%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fac40d%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M768 648.5q86 148.5-56 198T446 852q-124-44-157-153.5T275.5 507q19.5-82 9-240.5T430 60.5Q586 13 690 133t48 243.5q-56 123.5 30 272Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url%28%23a%29%22%3E%3Cpath fill=%22url%28%23b%29%22 d=%22M768 648.5q86 148.5-56 198T446 852q-124-44-157-153.5T275.5 507q19.5-82 9-240.5T430 60.5Q586 13 690 133t48 243.5q-56 123.5 30 272Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.about__container {
  position: relative;
  z-index: 2;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1.875rem;
}

.about__card {
  width: 43%;
}

.about__image {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.9375rem;
  height: 15.625rem;
}

.about__image img {
  width: 100%;
  display: block;
  border-radius: 10px;
  height: 15.625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__title {
  font-family: "Taviraj";
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: 0.9375rem;
  text-align: center;
}

.about__text {
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 0.3125rem;
  text-align: justify;
}

.payments__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.payments__title {
  text-align: left;
  padding-left: 1.875rem;
}

.payments__text {
  line-height: 1.5;
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 72%;
          flex: 1 1 72%;
}

.payments__text p {
  margin-bottom: 0.625rem;
}

.payments__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.payments__image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.contacts__title {
  line-height: 1.3;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__location-texts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 0.3125rem;
  text-align: justify;
}

.contacts__location-texts p {
  margin-bottom: 0.625rem;
}

.contacts__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
}

.all-contact {
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 30px;
  margin-top: 30px;
  line-height: 1.3;
}

.all-contact p {
  padding-bottom: 8px;
}

.all-contact__left,
.all-contact__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  border: solid 2px #5DEDA6;
  border-radius: 10px;
}

.all-contact__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
}

@media (min-width: 61.99875em) {
  .footer__title::before {
    display: none;
  }
}

@media (min-width: 75em) {
  .page__main-slider {
    margin-bottom: 9.8125rem;
  }

  section {
    padding-bottom: 3.125rem;
  }

  .section-title {
    font-size: 2.25rem;
  }

  .header__container {
    min-height: 3.4375rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .actions-header {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .footer__container {
    padding-top: 3.1875rem;
  }

  .footer__container {
    padding-bottom: 2.1875rem;
  }

  .hero__background {
    height: 40.625rem;
  }

  .hero__subtitle {
    font-size: 2.5rem;
  }

  .hero__title {
    font-size: 3.125rem;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  .hero__tel {
    font-size: 2.1875rem;
  }

  .provide__image {
    padding-top: 2.5rem;
  }

  .provide__point {
    font-size: 1.5rem;
  }

  .provide__point {
    padding-left: 2.1875rem;
  }

  .provide__point::before {
    font-size: 1.5rem;
  }

  .services__image {
    padding-top: 2.5rem;
  }

  .services__point {
    font-size: 1.5rem;
  }

  .services__point {
    padding-left: 2.1875rem;
  }

  .services__point::before {
    font-size: 1.5rem;
  }

  .four-services__main-title {
    margin-bottom: 2.5rem;
  }

  .about__main-title {
    margin-bottom: 2.5rem;
  }

  .payments__title {
    margin-bottom: 2.5rem;
  }

  .payments__text {
    font-size: 1.5rem;
  }

  .contacts__title {
    margin-bottom: 2.5rem;
  }

  .all-contact {
    font-size: 1.5rem;
  }
}

@media (max-width: 75em) {
  .hero__background::before {
    left: -100px;
    width: 150%;
  }
}

@media (max-width: 62em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .actions-header {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 850px) and (max-width: 20em) {
  .provide::after {
    top: 18.75rem;
  }
}

@media (max-width: 850px) {
  .provide__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .provide__image {
    margin-right: 0rem;
    padding-top: 0;
    padding-bottom: 1.25rem;
  }

  .services::after {
    bottom: -20px;
    left: -300px;
  }

  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__image {
    margin-left: 0rem;
  }
}

@media (max-width: 20em) {
  .page__main-slider {
    margin-bottom: 3.125rem;
  }

  section {
    padding-bottom: 1.875rem;
  }

  .section-title {
    font-size: 1.875rem;
  }

  .header__container {
    min-height: 3.125rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .hero__background {
    height: 35.625rem;
  }

  .hero__subtitle {
    font-size: 1.875rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__text {
    font-size: 1rem;
  }

  .hero__tel {
    font-size: 1.5625rem;
  }

  .provide__image {
    padding-top: 1.25rem;
  }

  .provide__point {
    font-size: 1rem;
  }

  .provide__point {
    padding-left: 1.5625rem;
  }

  .provide__point::before {
    font-size: 1rem;
  }

  .services__image {
    padding-top: 1.25rem;
  }

  .services__point {
    font-size: 1rem;
  }

  .services__point {
    padding-left: 1.5625rem;
  }

  .services__point::before {
    font-size: 1rem;
  }

  .four-services__main-title {
    margin-bottom: 1.875rem;
  }

  .about__main-title {
    margin-bottom: 1.875rem;
  }

  .payments__title {
    margin-bottom: 1.875rem;
  }

  .payments__text {
    font-size: 1.125rem;
  }

  .contacts__title {
    margin-bottom: 1.875rem;
  }

  .all-contact {
    font-size: 1.125rem;
  }
}

@media (max-width: 69.375em) {
  .footer__container {
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 1.875rem;
  }

  .footer__column:nth-child(1) {
    max-width: 11.125rem;
  }

  .footer__blocks {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    -ms-grid-columns: 8.75rem 1fr 8.75rem;
    grid-template-columns: 8.75rem 1fr 8.75rem;
  }

  .header__logo img {
    max-width: 8.75rem;
  }

  .footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .footer__column:nth-child(1) {
    margin: 0 auto;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__blocks {
    text-align: center;
  }

  .footer__title {
    width: 100%;
    text-align: left;
    position: relative;
  }

  .footer__title::before {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .footer__title._spoller-active::before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .hero__background {
    overflow: visible;
  }

  .hero__background::before {
    left: -300px;
    width: 150%;
  }

  .hero__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .four-services__card {
    width: 44%;
  }

  .about::before {
    -webkit-transform: rotate(80deg);
        -ms-transform: rotate(80deg);
            transform: rotate(80deg);
    left: 90px;
  }

  .about__card {
    width: 44%;
  }

  .payments__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .section-title {
    text-align: center;
  }

  .header__logo img {
    top: -28.5px;
    left: 0;
    height: 3.5625rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 2;
    background-color: #fff;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .hero__background::before {
    left: -400px;
    width: 250%;
  }

  .hero__texts {
    padding: 0.3125rem 0.625rem 0.3125rem 1.875rem;
  }

  .hero__texts::before {
    height: 240%;
  }

  .hero__subtitle {
    margin-bottom: 1.25rem;
  }

  .hero__subtitle {
    line-height: 1;
    text-align: center;
  }

  .hero__title {
    line-height: 1;
    text-align: center;
  }

  .hero__text {
    text-align: center;
  }

  .hero__tel {
    text-align: center;
    padding-left: 0;
    padding-bottom: 0.625rem;
  }

  .about::after {
    top: 350px;
  }

  .payments__title {
    padding-left: 0rem;
    text-align: center;
  }

  .all-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    min-height: 4.375rem;
  }

  .hero__texts::before {
    top: -9.375rem;
  }

  .hero__texts::before {
    left: 8.125rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 38.75em) {
  .about__card {
    width: 98%;
  }
}

@media (max-width: 37.5em) {
  .footer__blocks {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 29.99875em) {
  .hero__background::before {
    left: -450px;
    width: 250%;
  }

  .hero__block {
    width: 90%;
    padding: 0 0 0 0;
  }

  .hero__texts {
    padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  }

  .hero__texts::before {
    background-size: cover;
    height: 180%;
    width: 140%;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.94;
  }

  .four-services__card {
    width: 98%;
  }

  .about::after {
    top: 520px;
    right: 10px;
  }
}

@media (max-width: 29.99875em) and (max-width: 20em) {
  .hero__texts::before {
    top: -5rem;
  }

  .hero__texts::before {
    left: -3.125rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (margin-bottom: clamp( 3.125rem , 0.6931818182rem  +  12.1590909091vw , 9.8125rem )) {
    .page__main-slider {
      margin-bottom: clamp( 3.125rem , 0.6931818182rem  +  12.1590909091vw , 9.8125rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.6931818182rem  +  12.1590909091vw , 9.8125rem )) {
    .page__main-slider {
      margin-bottom: calc(3.125rem + 6.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    section {
      padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    section {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7386363636rem  +  0.6818181818vw , 2.25rem )) {
    .section-title {
      font-size: clamp( 1.875rem , 1.7386363636rem  +  0.6818181818vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7386363636rem  +  0.6818181818vw , 2.25rem )) {
    .section-title {
      font-size: calc(1.875rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (min-height: clamp( 3.125rem , 3.0113636364rem  +  0.5681818182vw , 3.4375rem )) {
    .header__container {
      min-height: clamp( 3.125rem , 3.0113636364rem  +  0.5681818182vw , 3.4375rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 3.0113636364rem  +  0.5681818182vw , 3.4375rem )) {
    .header__container {
      min-height: calc(3.125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3977272727rem  +  2.3863636364vw , 3.1875rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 1.3977272727rem  +  2.3863636364vw , 3.1875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3977272727rem  +  2.3863636364vw , 3.1875rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.7613636364rem  +  0.5681818182vw , 2.1875rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 1.7613636364rem  +  0.5681818182vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.7613636364rem  +  0.5681818182vw , 2.1875rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 35.625rem , 33.8068181818rem  +  9.0909090909vw , 40.625rem )) {
    .hero__background {
      height: clamp( 35.625rem , 33.8068181818rem  +  9.0909090909vw , 40.625rem );
    }
}

@supports not (height: clamp( 35.625rem , 33.8068181818rem  +  9.0909090909vw , 40.625rem )) {
    .hero__background {
      height: calc(35.625rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .hero__subtitle {
      font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .hero__subtitle {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.5rem , 2.2727272727rem  +  1.1363636364vw , 3.125rem )) {
    .hero__title {
      font-size: clamp( 2.5rem , 2.2727272727rem  +  1.1363636364vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 2.2727272727rem  +  1.1363636364vw , 3.125rem )) {
    .hero__title {
      font-size: calc(2.5rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .hero__text {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .hero__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .hero__tel {
      font-size: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .hero__tel {
      font-size: calc(1.5625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .provide__image {
      padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .provide__image {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .provide__point {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .provide__point {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .provide__point {
      padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .provide__point {
      padding-left: calc(1.5625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .provide__point::before {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .provide__point::before {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .services__image {
      padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .services__image {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .services__point {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .services__point {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .services__point {
      padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .services__point {
      padding-left: calc(1.5625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .services__point::before {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .services__point::before {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .four-services__main-title {
      margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .four-services__main-title {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .about__main-title {
      margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .about__main-title {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .payments__title {
      margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .payments__title {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .payments__text {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .payments__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .contacts__title {
      margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not ( margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .contacts__title {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .all-contact {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .all-contact {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 48em) and (max-width: 62em) {
@supports (gap: clamp( 1.25rem , -0.8928571429rem  +  4.4642857143vw , 1.875rem )) {
    .header__container {
      gap: clamp( 1.25rem , -0.8928571429rem  +  4.4642857143vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.8928571429rem  +  4.4642857143vw , 1.875rem )) {
    .header__container {
      gap: calc(1.25rem + 0.625 * (100vw - 48rem) / 14);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75em) {
  .menu__body::before {
    min-height: 6.625rem;
  }

  .hero__texts::before {
    top: -17.5rem;
  }

  .hero__texts::before {
    left: 0.0000000625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (min-height: clamp( 4.375rem , 3.5568181818rem  +  4.0909090909vw , 6.625rem )) {
    .menu__body::before {
      min-height: clamp( 4.375rem , 3.5568181818rem  +  4.0909090909vw , 6.625rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.5568181818rem  +  4.0909090909vw , 6.625rem )) {
    .menu__body::before {
      min-height: calc(4.375rem + 2.25 * (100vw - 20rem) / 55);
    }
}

@supports (top: clamp( -17.5rem , -6.4204545455rem  +  -14.7727272727vw , -9.375rem )) {
    .hero__texts::before {
      top: clamp( -17.5rem , -6.4204545455rem  +  -14.7727272727vw , -9.375rem );
    }
}

@supports not (top: clamp( -17.5rem , -6.4204545455rem  +  -14.7727272727vw , -9.375rem )) {
    .hero__texts::before {
      top: calc(-9.375rem + -8.125 * (100vw - 20rem) / 55);
    }
}

@supports (left: clamp( 0.0000000625rem , 11.0795454318rem  +  -14.7727271591vw , 8.125rem )) {
    .hero__texts::before {
      left: clamp( 0.0000000625rem , 11.0795454318rem  +  -14.7727271591vw , 8.125rem );
    }
}

@supports not (left: clamp( 0.0000000625rem , 11.0795454318rem  +  -14.7727271591vw , 8.125rem )) {
    .hero__texts::before {
      left: calc(8.125rem + -8.1249999375 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 62em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 13);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 13);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 13);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem ))) {
    .actions-header {
      -webkit-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -6.5144230769rem  +  12.0192307692vw , 2.5rem ))) {
    .actions-header {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 13);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 13);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 62rem) / 13);
    }
}
}

@media (min-width: 43.75em) and (max-width: 281.25em) {
@supports (width: clamp( 40.625rem , 38.8980263158rem  +  3.9473684211vw , 50rem )) {
    .hero__block {
      width: clamp( 40.625rem , 38.8980263158rem  +  3.9473684211vw , 50rem );
    }
}

@supports not (width: clamp( 40.625rem , 38.8980263158rem  +  3.9473684211vw , 50rem )) {
    .hero__block {
      width: calc(40.625rem + 9.375 * (100vw - 43.75rem) / 237.5);
    }
}
}

@media (max-width: 29.99875em) and (min-width: 75em) {
  .hero__texts::before {
    top: -31.25rem;
  }

  .hero__texts::before {
    left: 0.0000000625rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (top: clamp( -31.25rem , 4.5454545455rem  +  -47.7272727273vw , -5rem )) {
    .hero__texts::before {
      top: clamp( -31.25rem , 4.5454545455rem  +  -47.7272727273vw , -5rem );
    }
}

@supports not (top: clamp( -31.25rem , 4.5454545455rem  +  -47.7272727273vw , -5rem )) {
    .hero__texts::before {
      top: calc(-5rem + -26.25 * (100vw - 20rem) / 55);
    }
}

@supports (left: clamp( -3.125rem , -4.2613636591rem  +  5.6818182955vw , 0.0000000625rem )) {
    .hero__texts::before {
      left: clamp( -3.125rem , -4.2613636591rem  +  5.6818182955vw , 0.0000000625rem );
    }
}

@supports not (left: clamp( -3.125rem , -4.2613636591rem  +  5.6818182955vw , 0.0000000625rem )) {
    .hero__texts::before {
      left: calc(-3.125rem + 3.1250000625 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 850px) and (min-width: 75em) {
  .provide::after {
    top: 28.125rem;
  }
}

@media (max-width: 850px) and (min-width: 20em) and (max-width: 75em) {
@supports (top: clamp( 18.75rem , 15.3409090909rem  +  17.0454545455vw , 28.125rem )) {
    .provide::after {
      top: clamp( 18.75rem , 15.3409090909rem  +  17.0454545455vw , 28.125rem );
    }
}

@supports not (top: clamp( 18.75rem , 15.3409090909rem  +  17.0454545455vw , 28.125rem )) {
    .provide::after {
      top: calc(18.75rem + 9.375 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .social__item:hover {
    opacity: 0.8;
  }

  .menu__link:hover {
    text-decoration-line: underline;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

.webp .hero__background::before{ background: url(../img/hero-2y.webp); }